<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
  <title>Diner toevoegen of bewerken</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container">
  <h1>Diner toevoegen of bewerken</h1>

  <form th:action="@{/diners/save}" th:object="${diner}" method="post" enctype="multipart/form-data">

    <input type="hidden" th:field="*{id}" />

    <div>
      <label for="title">Titel</label>
      <input type="text" id="title" th:field="*{title}">
      <span th:if="${#fields.hasErrors('title')}"
            th:errors="*{title}"
            class="error">
      </span>
    </div>

    <div>
      <label for="date">Datum</label>
      <input type="text" id="date" th:field="*{date}">
      <span th:if="${#fields.hasErrors('date')}"
            th:errors="*{date}"
            class="error">
      </span>
    </div>

    <div>
      <label for="location">Locatie</label>
      <input type="text" id="location" th:field="*{location}">
      <span th:if="${#fields.hasErrors('location')}"
            th:errors="*{location}"
            class="error">
      </span>
    </div>

    <div>
      <label for="thema">Thema</label>
      <input type="text" id="thema" th:field="*{thema}">
      <span th:if="${#fields.hasErrors('thema')}"
            th:errors="*{thema}"
            class="error">
      </span>
    </div>

    <div>
      <label for="guests">Gasten</label>
      <select id="guests" th:field="*{guests}" multiple>
        <option th:each="guest : ${allGuests}"
                th:value="${guest.id}"
                th:text="${guest.fullName}">
        </option>
      </select>
    </div>

    <div>
        <label for="imageFile">Omslagafbeelding</label>
         <input type="file"
                id="imageFile"
             name="imageFile"
             accept="image/*">

        <label for="description">Beschrijving</label>
        <textarea id="description"
                  th:field="*{description}"
                  rows="5"
                  placeholder="Optionele beschrijving van het diner">
        </textarea>
    </div>

    <button type="submit" th:text="${diner.id} != null ? 'Opslaan' : 'Toevoegen'">Opslaan</button>  </form>

  <a th:href="@{/diners}">Ga terug naar het overzicht </a>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>

<div th:replace="~{fragments/general :: scripts}"></div>
</body>
</html>
